@model IEnumerable<MontagemCurriculo.Models.Curriculo>

@{
    ViewData["Title"] = "Currículos cadastrados";
}


<h5>Portfólios cadastrados</h5>

<p>
    <a asp-action="Create" class="btn btn-small blue darken-2">Novo portfólio</a>
    
</p>
<table class="table striped hover highlight">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.CurriculoID" class="btn btn-small blue darken-2">Atualizar</a> |
                <a asp-action="Details" asp-route-id="@item.CurriculoID" class="btn btn-small deep-purple darken-2">Detalhes</a> |
                <a class="btn btn-small red darken-4 modal-trigger" onclick="ExibirModal(@item.CurriculoID)">Excluir</a>
                <label>
                    @if (item.Principal)
                    {
                        <input type="checkbox" checked="checked" class="filled-in " onclick="AtualizarPrincipal(@item.CurriculoID)"/>

                    }
                    else
                    {
                        <input type="checkbox" class="filled-in " onclick="AtualizarPrincipal(@item.CurriculoID)"/>
                    }
                    <span>Exibir para o público</span>
                </label>
            </td>
        </tr>
        }
    </tbody>
</table>


<div ID="modal1" class="modal">
    <div class="modal-content">
        <h4>Confirmar exclusão</h4>
        <p>Deseja prosseguir com a exclusão?</p>
    </div>
    <div class="modal-footer">
        <a class="modal-close btn green accent-4">Não</a>
        <a class="modal-close btn red accent-4 btnConfirmar">Sim</a>
    </div>
</div>

<div ID="modal2" class="modal">
    <div class="modal-content">
        <h4>Confirmar atualização</h4>
        <p>Deseja prosseguir com a atualização?</p>
    </div>
    <div class="modal-footer">
        <a class="modal-close btn green accent-4">Não</a>
        <a class="modal-close btn red accent-4 btnAtualizar">Sim</a>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".modal").modal();
        });

        function ExibirModal(ID) {
            $("#modal1").modal("open");

            $(".btnConfirmar").on('click', function () {
                $.ajax({
                    method: "POST",
                    url: "/Curriculos/Delete",
                    data: { ID: ID },
                    success: function () {
                        alert("Exclusão feita com sucesso");
                        location.reload();
                    }
                });
            })
        }

     

        function AtualizarPrincipal(ID) {
            $("#modal2").modal("open");

            $(".btnAtualizar").on('click', function () {
                $.ajax({
                    method: "POST",
                    url: "/Curriculos/AtualizarPrincipal",
                    data: { ID: ID },
                    success: function () {
                        alert("Atualização feita com sucesso");
                        location.reload();
                    }
                });
            })
        }
    </script>
}