@model IEnumerable<MontagemCurriculo.Models.Curriculo>

@{
    ViewData["Title"] = "Portfólios de usuários";
}


<h4>Portfólios cadastrados </h4>

<p>
    <a asp-action="DetailsPublic" asp-route-id="8" class="btn blue darken-4">Visite o portfólio do desenvolvedor!
        <i class="material-icons right">send</i></a>

</p>
<div>
    <table id="Curriculos" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Usuario.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        <a asp-action="DetailsPublic" asp-route-id="@item.CurriculoID" class="btn btn-small deep-purple darken-2">Detalhes</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Curriculos').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
                },
                
                "bLengthChange": false,
                "bFilter": true,
                
            });
        });
    </script>
  
}